
mixin footer()
    footer
        .container
            .newsletter
                img(src="assets/images/logo/alt.png", alt="Mais Um")
                form.signup(action="")
                    input(type="text",placeholder="Seu E-Mail")
                    button(type="submit") Fique Atualizado !
        .copyright
            .container
                p &copy; mais um - Todos os direitos reservados - 2015
                a(href="http://www.agenciadzoe.com.br").developer: img(src="http://www.agenciadzoe.com.br/assets/public/images/logo.png" alt="Agência dZoë" height="30")
